.container{
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 20px;
  border-radius: 9px;
}

.main-form{
  display: flex;
  flex-direction: row;
}

.main-form input{
  width: 75%;
  height: 25px;
}
.main-form-card{
  margin: auto;
  box-shadow: 2px 2px 3px;
  padding: 5px;
  width: 350px;
  border-radius: 5px;
}

.item{

}
.item-div{
  display: flex;
  background: #beb2b2;
  margin: 25px;
  padding: 5px;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 2px 3px 2px;
}

.item-div form{
  display: flex;
  gap: 5px;
  width: 100%;
}

.item-div input{
  height: 25px;
  width: 84%;
}
h2{
  margin: 0;
}

button{
  border: none;
  border-radius: 5px;
  color: white;
}

button:hover{
  cursor: pointer;
}

.save{
  background: green;
}

.btn{
  background: green;
}